<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control w-25' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control w-25' %>
  </div>

  <% unless @task.new_record? %>
    <div class="form-check p-0 mb-2">
      <%= f.label :completed %>
      <%= f.check_box :completed, class: 'form-check-input ml-3' %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<hr>

<p><%= link_to 'Back to list', tasks_path  %></p>
